nav.offcanvas-nav {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.216);
  background-color: white;
  padding: 3rem 1rem 1rem;
  transition: right .5s ease-in-out;
}

nav.active {
  right: 0;
}

nav.offcanvas-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.offcanvas-nav ul a {
  color: black;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgb(202, 202, 202);
  padding: .5rem 0;
}

span.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
  font-size: 26px;
  cursor: pointer;
}